body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#main {
  position: relative;
  transition: 0.7s;
}

.map {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  right: 120px;
  top: 22px;
  height: 80px;
  z-index: 90;
}

.logo_bg {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  width: 100%;
  height: 50px;
  top: 30px;
  z-index: 80;
}

.button_sidebar {
  position: absolute;
  width: 75px;
  height: 50px;
  top: 30px;
  right: 0;
  border: none;
  background-color: #ee5800;
  -webkit-clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  clip-path: polygon(25% 0%, 100% 1%, 100% 100%, 25% 100%, 0% 50%);
  z-index: 90;
  transition: width 0.3s;
}

.button_sidebar:hover {
  width: 90px;
}

.poi {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 30px;
  z-index: 90;
  border: 3px solid  rgba(255, 255, 255, .65);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, .3);
  transition: all .3s ease;
}

.poi img {
  height: 33px;
  padding: auto;
}

.poi:hover {
  transform: scale(1.1);
  border: 3px solid  #fff;
}

.poi_food {
  left: 50px;
  /*background-color: #ee002d;*/
}

.poi_coffee {
  left: 130px;
  /*background-color: #b300ee;*/
}

.poi_party {
  left: 210px;
  /*background-color: #eeca00;*/
}

.shape {
  width: 400px;
  height: 40px;
  background-color: black;
  -webkit-clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  clip-path: polygon(5% 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  position: relative;
}

.sidebar {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #0081e5;
  z-index: 100;
  padding: 0px;
  transition: 0.7s;
  overflow-x: hidden;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
}

.sidebar p {
  color: #fff;
  font-weight: 700;
  padding: 20px;
  width: 300px;
  margin: 0;
  padding-top: 50px;
  text-align: center;
}

.sidebar form {
  color: #fff;
  font-weight: 700;
  padding: 20px;
  width: 300px;
  margin: 0;
  text-align: center;
}

.sidebar input {
  border: 1px solid #fff;
  border-radius: 3px;
  background: none;
  font-family: 'Open Sans', sans-serif;
}

.sidebar input[type=submit] {
  margin: 15px;
  height: 35px;
  width: 100px;
  border: none;
  border-radius: 3px;
  background-color: #ee5800;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  transition: all .3s ease;
}

.sidebar input[type=submit]:hover {
  transform: scale(1.1);
}


.hidden {
  width: 0px;
}

.show {
  width: 350px;
}

.info {
  font-family: 'Open Sans', sans-serif;
}

footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3px;
  text-align: center;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
}

footer p {
  margin: 0;
  padding: 0;
}