body{
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: 'Open Sans', sans-serif;
}

#main {
  position: relative;
}

.map {
  width: 100%;
  height: 100vh;
}

.logo {
  position: absolute;
  right: 100px;
  top: 20px;
  height: 80px;
  z-index: 90;
}

.button_navbar {
  position: absolute;
  width: 30px;
  height: 45px;
  top: 25px;
  right: 2vh;
  border: none;
  background-color: #ee5800;
  -webkit-clip-path: polygon(100% 0%, 25% 50%, 100% 100%, 75% 100%, 0% 50%, 75% 0);
  clip-path: polygon(100% 0%, 25% 50%, 100% 100%, 75% 100%, 0% 50%, 75% 0);
  z-index: 90;
}

.navbar {
  position: absolute;
  margin: 0;
  top: 0;
  right: 0;
  width: 300px;
  height: 100vh;
  background-color: #fff;
  z-index: 100;
  padding: 0px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19); 
}

.hidden {
  display: none;
}

.show {
  display: block;
}

.exit_button {
  font-size: 15px;
  height: 30px;
  width: 30px;
  border-width: 1px;
  border-color: #000;
  border-radius: 15px;
  background: none;
  position: absolute;
  padding: auto;
  margin: auto;
  top: 10px;
  right: 10px;
}